doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Express Auth Intro
    body
        header.header
            h1 Express Auth Intro 
        main 
            section.sign-form 
                h2 Sign in
                form(action="" method="POST")
                    label(for="username") Username
                    input(type="text" name="username")
                    label(for="password") Password
                    input(type="password" name="password")
                    button(type="submit") Sign in